<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <main>
      <h1>Search Results</h1>
  
      <ul class="add-form">
        <% searchResults.forEach(shop => { %>
          <li>
            <img src=<%= shop.photo %> alt=Cover for <%= shop.name %> />
            <h2><%= shop.name %></h2>
            <h3><%= shop.photo %></h3>
            <p><%= shop.website %></p>
            <p><%= shop.quick_address %></p>
            <p><%= shop.formatted_phone_number %></p>
            <p><%= shop.hours %></p>
            <p><%= shop.price %></p>
            <p><%= shop.rating %></p>
            <button type="button">Select this Restaurant</button>
    
            <form action="/add-to-database" method="post" class="hidden">
              <input type="text" name="title" value="<%= shop.title %>" />
              <input type="text" name="author" value="<%= shop.author %>" />
              <input type="text" name="isbn" value="<%= shop.isbn %>" />
              <input type="textarea" name="description" value="<%= shop.description %>" />
              <input type="text" name="bookshelf" value="<%= shop.bookshelf %>" />
              <input type="text" name="image_url" value="<%= shop.image_url %>" />
              <button type="button">Hide Form</button>
              <button type="submit">Save to Database</button>
            </form>
          </li>
        <% }) %>
      </ul>
    </main>
  <footer>
    <%- include('../partials/footer') %>

  </footer>
</body>

</html>